.Painel {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 53px;
  border-radius: var(--borderRadius);
  height: 75vh;
  width: 80vw;
  position: relative;
}

.PainelLogo{
  position: absolute;
  top: -57px;
  left: -25px;
  transition: all 1s;
}

 .loginInfo {
  background: var(--gradientBlue);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  padding-bottom: 25px;
  flex-grow: 1;
 }

 .loginInfo h3 {
  color: white;
  font-size: 25px;
 }

 .loginInfo h5 {
   color: white;
   font-size: 13px;
  }
  
  .loginForm h3 {
   color: var(--textColor);
   font-size: 50px;
  }

 .loginForm {
  flex-grow: 10;
 }

 .loginForm form {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 15px;
 }

 .loginForm label {
  color: var(--textColor);
 }

 .loginForm input {
  width: 425px;
  height: 55px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--textColor);
  border-radius: 5px;
  border: solid rgba(149, 157, 165, 0.2) 2px;
  transition: all 0.2s;
  outline: none;
 }

 .loginForm input:hover{
  border-color: var(--tertiaryColor);
 }

 .loginForm input:focus {
  border-color: var(--primaryColor);
 }

.confirmButton{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background: var(--secondaryColor);
  color: white;
  font-size: 15px;
  border: none;
  transition: all 0.3s;
}

.confirmButton:hover {
  cursor: pointer;
  background: var(--primaryColor);
}

.confirmButton:active{
  background: var(--tertiaryColor);
}

.confirmButton:not(:active) {
  animation: animConfirmButton 1s cubic-bezier(0,.81,1,-0.07) 1;
}

@keyframes animConfirmButton {
  0%{scale: 1;}
  3%{scale: 0.8;}
  100%{scale: 1;}
}

.helpLinks {
  margin-top: 40px;
}

.helpLinks p {
  margin-inline-end: 20px;
}