.Painel {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 53px;
  border-radius: var(--borderRadius);
  height: 75vh;
  width: 80vw;
  position: relative;
  transition: all 0.25s;
}

.PainelLogo{
  position: absolute;
  top: -57px;
  left: -25px;
  transition: all 1s;
}

 .painelInfo {
  background: var(--gradientBlue);
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  padding-bottom: 25px;
  flex-grow: 1;
 }

 .painelInfo h3 {
  color: white;
  font-size: 25px;
 }

 .painelInfo h5 {
   color: white;
   font-size: 13px;
  }
  
  .painelContent h3 {
   color: var(--textColor);
   font-size: 50px;
  }

 .painelContent {
  flex-grow: 10;
 }

 .painelContent form {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 15px;
 }

 .painelContent label {
  color: var(--textColor);
 }

 .painelContent input {
  width: 425px;
  height: 55px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--textColor);
  border-radius: 5px;
  border: solid rgba(149, 157, 165, 0.2) 2px;
  transition: all 0.2s;
  outline: none;
 }

 .painelContent input:hover{
  border-color: var(--tertiaryColor);
 }

 .painelContent input:focus {
  border-color: var(--primaryColor);
 }

.confirmButton{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background: var(--secondaryColor);
  color: white;
  font-size: 15px;
  border: none;
  transition: all 0.3s;
}

.confirmButton:hover {
  cursor: pointer;
  background: var(--primaryColor);
}

.confirmButton:active{
  background: var(--tertiaryColor);
}

.confirmButton:not(:active) {
  animation: animConfirmButton 1s cubic-bezier(0,.81,1,-0.07) 1;
}

@keyframes animConfirmButton {
  0%{scale: 1;}
  3%{scale: 0.8;}
  100%{scale: 1;}
}

.helpLinks {
  margin-top: 40px;
}

.helpLinks p {
  margin-inline-end: 20px;
}

@media (max-width: 800px) {
  .Painel {
    flex-direction: column;
    height: 90vh;
    width: 90vw;
  }

  .PainelLogo {
    height: 50px;
    width: 80px;
    top: -19px;
    left: -10px;
  }

  .painelInfo {
    border-top-right-radius: var(--borderRadius);
    border-bottom-left-radius: 0px;
    padding-block: 20px;
  }

  .painelContent {
    padding-block: 20px;
  }

}